@page "/"
@layout BaseLayout

<BaseLayoutContent PageTitle="Index page">
    <Header>
        Index page
    </Header>

    <ChildContent>
        <p>
            This is a my first blazor app where I am trying to learn it's features to decide is it will be useful
            in production
        </p>
    </ChildContent>
</BaseLayoutContent>